# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
# Convert the date column format from string to datetime
df['date']= pd.to_datetime(df['date'])
df.head()

       station       date  prcp  tobs
0  USC00519397 2010-01-01  0.08    65
1  USC00519397 2010-01-02  0.00    63
2  USC00519397 2010-01-03  0.00    74
3  USC00519397 2010-01-04  0.00    76
4  USC00519397 2010-01-06   NaN    73

In [4]:
# Set the date column as the DataFrame index
df.set_index('date', inplace=True)
df

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73
...                 ...   ...   ...
2017-08-19  USC00516128  0.09    71
2017-08-20  USC00516128   NaN    78
2017-08-21  USC00516128  0.56    76
2017-08-22  USC00516128  0.50    76
2017-08-23  USC00516128  0.45    76

[19550 rows x 3 columns]

In [6]:
# Drop the date column
new_df = df.reset_index(drop=True)
new_df.head()

       station  prcp  tobs
0  USC00519397  0.08    65
1  USC00519397  0.00    63
2  USC00519397  0.00    74
3  USC00519397  0.00    76
4  USC00519397   NaN    73

### Compare June and December data across all years

In [7]:
from scipy import stats

In [15]:
# Filter data for desired months
date_df = pd.read_csv('hawaii_measurements.csv')
date_df['date']= pd.to_datetime(date_df['date'])

#df[df['Dates'].month == 11]['Dates']
 
# Filter data between two dates 
june_df = df.loc[(date_df['date'] >= '2020-09-01') 
                     & (df['date'] < '2020-09-15')]
# june_df = df.index.map(lambda x: x.month) == 6
# june_df


dec_df = date_df

AttributeError: 'Series' object has no attribute 'month'

In [ ]:
# Identify the average temperature for June
june_avg = june_df["tobs"].mean().round(3)
june_avg

In [ ]:
# Identify the average temperature for December
dec_avg = dec_df["tobs"].mean().round(3)
dec_avg

In [ ]:
# Create collections of temperature data

In [ ]:
# Run paired t-test

### Analysis